:root{
  --White: hsl(0, 0%, 100%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);
  --Slate300: hsl(212, 45%, 89%);
  --FontSize : 15px;
}
@font-face {
  font-family: 'Outfit';
  src: url('./../../public/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;

}
body{
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Slate300);
  line-height: 180%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 370px;
  background-color: var(--White);
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 5px 20px -10px var(--Slate500);
}
.main-image img{
  border-radius: 15px;
  width: 370px;
  height: auto;
  margin-bottom: 0;
}
.main-header{
  text-align: center;
  margin-top: 0;
  padding-inline: 20px;
  font-size: 19px;
  line-height: 170%;
}
h2{
  margin: 23px 0 20px 0;
}
.main-paragraph p{
  color: var(--Slate500);
  font-size: 20px;
  margin: 0 15px 27px 15px;
  text-align: center;
}
@media (max-width: 376px) {
  main{
    margin: 28px;
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 16px;
    box-sizing: border-box;
  }
  .main-image img{
    width: 100%;
    border-radius: 10px;
  }
  .main-header{
    font-size: 15px;
    padding: 0 10px 0 10px;
    line-height: 170%;
    letter-spacing: -0.09px;

  }
  h2{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .main-paragraph p{
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.09px;
  }
}
.hidden{
  display: none;
}