apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: qr-code-component-main-app
    newName: qr-code-component-main-app
    newTag: latest
